.dark-mode {
    background-color: #080808e2;
    color: white;
  }
  body {
    background-color: white;
    color: black;
  }
h1{
    font-size: 4vw;
}
h2{
    font-size: 3.5vw;
}
.animate-text{
    
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.animate-text::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5ba2ed;
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}
.animate-text:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
h3{
  font-size: 2vw;
}
h4{
    font-size: 1.5vw;
}
h5{
    font-size: 1vw;
}
p{
    font-size: 1vw;
}
li{
    font-size: 1vw;
}
@media only screen and (max-width: 768px) {
    li,p,h3,h4,h5 {
        font-size: 3vw;
    }
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
@media only screen and (max-width: 768px) {
    [class="grid-container"] {
        visibility: collapse;
    }
}
.grid-container-2 {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    grid-template-columns: 30% 70%;
  }
  @media only screen and (max-width: 768px) {
    [class="grid-container-2"] {
        grid-template-columns: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
}
.grid-container-sections {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    grid-template-columns: 30% 70%;
  }
@media only screen and (max-width: 768px) {
    [class="grid-container-sections"] {
        grid-template-columns: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
}
.grid-item {
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1vw;
    text-align: center;
}
.grid-item-2 {
    
    font-size: 1vw;
    text-align: left;
}
@media only screen and (max-width: 768px) {
    [class*="grid-item"] {
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 3vw;
    }
}
.button {
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    padding-left: 2%;
    padding-right: 2%; 
    color: black; 
  }
  
  .button1:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
    
  }
  section{
    padding-left: 10%;
    padding-right: 10%;
  }
  img { 
    width: 40%; 
  }
  .moon{
    width: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    filter:saturate(3);
  -webkit-filter:saturate(3);
  }
@media only screen and (max-width: 768px) {
    [class="moon"] {
        width: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}
  .topic{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    font-size: 3vw;
    text-align: left;
  }
  @media only screen and (max-width: 768px) {
    [class*="topic"] {
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 2vw;
    }
}
@media only screen and (max-width: 768px) {
.navbar {
  background-color: lightgray;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 10%;
  position: fixed;
  }
}
