html {
  scroll-behavior: smooth;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 100;
}

.dark-mode {
    background-color: #080808e2;
    color: white;
  }
  body {
    background-color: white;
    color: black;
    font-weight: 100;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 10%;

  }
h1{
    font-size: 4vw;
    font-weight: 100;
}
h2{
    font-size: 3.5vw;
    font-weight: 100;
}
h3{
  font-size: 2vw;
  font-weight: 100;
}
h4{
    font-size: 1.5vw;
    font-weight: 100;
}
h5{
    font-size: 1.2vw;
    font-weight: 100;
}
h6{
  font-size: 1.2vw;
  font-weight: 100;
  
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 0.5%;
}
p{
    font-size: 1.2vw;
}
li{
    font-size: 1.2vw;
    margin-bottom: 0.7%;
}
.color-text{
  color: #5ba2ed;
  font-size: 1.2vw;
}
@media only screen and (max-width: 768px) {
    li,p,h3,h4,h5,h6,.color-text {
        font-size: 4vw;
    }
}
@media only screen and (max-width: 768px) {
  li {
      text-align: justify;
      padding-right: 5%;
  }
}
a{
  color: #5ba2ed;
  text-decoration: none;
  margin: 0%;
  
}

@media only screen and (max-width: 768px) {
  a {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 768px) {
  a:hover {
    color: #5ba2ed;
  }
}

.animate-text{
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 1%;
}
.animate-text::after{
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2.5px;
bottom: 0;
left: 0;
background-color: #5ba2ed;
opacity: 70%;
transform-origin: bottom left;
transition: transform 0.5s ease-out;
}
.animate-text:hover::after{
transform: scaleX(1);
transform-origin: bottom left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
@media only screen and (max-width: 768px) {
    [class="grid-container"] {
        visibility: collapse;
        padding-left: 0%;
    }
}
.grid-container-2 {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 0%;
    grid-template-columns: 30% 70%;
  }
  @media only screen and (max-width: 768px) {
    [class="grid-container-2"] {
        grid-template-columns: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
}
.grid-container-sections {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    grid-template-columns: 30% 70%;
  }
@media only screen and (max-width: 768px) {
    [class="grid-container-sections"] {
        grid-template-columns: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }
}
.grid-container-contact {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  grid-template-columns: 25% 25% 25% 25%;
}
@media only screen and (max-width: 768px) {
  [class="grid-container-contact"] {
      grid-template-columns: 100%;
      padding-left: 2%;
      padding-right: 2%;
  }
}
.grid-container-skills {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
@media only screen and (max-width: 768px) {
  [class="grid-container-skills"] {
      grid-template-columns: 100%;
      padding-left: 2%;
      padding-right: 2%;
  }
}
.grid-item {
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 1vw;
    text-align: left;
}
.grid-item-2 {
    
    font-size: 1vw;
    text-align: left;
}
@media only screen and (max-width: 768px) {
    [class="grid-item-2"] {
        padding-top: 0%;
        padding-bottom: 0%;
        text-align: center;
        font-size: 3vw;
    }
}
@media only screen and (max-width: 768px) {
  [class="grid-item-2-mobile-align"] {
      padding-top: 0%;
      padding-bottom: 0%;
      text-align: left;
      font-size: 3vw;
  }
}

.button {
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    padding-left: 2%;
    padding-right: 2%; 
    color: black; 
  }
  
  .button1:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
    
  }
  section{
    padding-left: 10%;
    padding-right: 10%;
  }
  img { 
    width: 40%; 
  }
  .moon{
    width: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
    
  }
@media only screen and (max-width: 768px) {
    [class="moon"] {
        width: 50%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}
  .topic{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3vw;
    text-align: left;
  }
  @media only screen and (max-width: 768px) {
    [class*="topic"] {
        padding-top: 2%;
        margin-bottom: 2%;
        font-size: 2vw;
        text-align: center;
        background-color:#5ba2ed;
    }
}
@media only screen and (max-width: 768px) {
.navbar {
  visibility: hidden;
  }
}
.tech
{
  color:#5ba2ed;
}
button{
  border-radius: 50px;
}
.bottom-nav{
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .bottom-nav {
    visibility:visible;
    }
  }
footer{
  margin-top: 10%;
  background-color: #080808e2;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 0%;
  position: fixed;
}

